<div class="container-fluid">
  <div class="mb-5 mt-5">
    <div class="title">こじらせ診断とは？</div>
      <div class="sub-title">
        <p>TwitterのアカウントIDを入力するだけでその人がどのくらいこじらせているかを診断するツールです</p>
      </div>
      <div class="question">
        <p>「<span>デートがサイゼリアだった！私ってそんなに安い女なの？</span>」</p>
        <p>「<span>CHANELのコットンで済むほど女は単純じゃない</span>」</p>
        <p>「<span>お見合いでロイヤルミルクティーを頼むのは遠慮しましょう</span>」</p>
        <p>「<span>結婚したいならオタク趣味をやめて普通の人になれ</span>」</p>
      </div>
      <div class="description">
        <p>ネットにはこのような恋愛に関するいろいろな考えがあります</p>
        <p>モテたい！と思っても誰を信じればいいのかわからない・・</p>
        <p>そんな時はこじらせ診断をしましょう</p>
      </div>
