<div class="container-fluid">
  <h1 class="mt-5">こじらせ診断</h1>
    <div class="mb-5 mt-5">
      <button>診断する</button>
    </div>
    <p><%= link_to 'こじらせ診断とは？', help_path %></p>
    <p>お問い合せ</p>
    <p><%= link_to '利用契約・プライバシーポリシー', privacy_path %></p>
<div>
