<div class="container-fluid">
  <h1 class="mt-5">こじらせ診断</h1>
    <div class="mb-5 mt-5">
      <%= button_to '診断する', '/', class: 'button' %>
    </div>
    <p><%= link_to 'こじらせ診断とは？', help_path %></p>
    <p><%= link_to 'お問い合せ', "https://docs.google.com/forms/d/e/1FAIpQLSeWG6MyzFwicUtaeYUGjXBBjaeKHF9nkgEUuXcRc66XmLaTIg/viewform?embedded=true"  %></p>
    <p><%= link_to '利用契約・プライバシーポリシー', privacy_path %></p>
<div>
