<% content_for(:title, '診断結果') %>
<section id="results" class="results section-bg">
  <div class="section-title">
    <h3><%= @user.name %>さんの診断結果</h3>
  </div>
  <div class="container-result">
    <%= render 'shared/kojirase_chart' %>
    <div class="text-center topbtn">
      <%= button_to '戻る', root_path, method: :get, class: 'btn btn-malformation shadow' %>
    </div>
  </div>
</section>
