<div class="error">
  <div class="error_title">
    404 Not Found
  </div>
  <div class="error_discription">
    お探しのページは見つかりませんでした
  </div>
  <%= button_to '戻る', root_path, method: :get, class: 'back-button' %>
</div>
