<div class="error">
  <div class="error_title">
    500 Internal Server Error
  </div>
  <div class="error_discription">
    アクセスしようとしたページは表示できませんでした。
  </div>
  <%= button_to '戻る', root_path, method: :get, class: 'back-button' %>
</div>
