<section id="errors" class="errors section-bg">
  <div class="container-result">
    <div class="section-title">
      <h2>500 Internal Server Error</h2>
      <h3>アクセスしようとしたページは表示できませんでした。</h3>
    </div>
  </div>
  <div class="text-center topbtn">
    <%= button_to '戻る', root_path, method: :get, class: 'btn btn-malformation shadow' %>
  </div>
</section>
