<h3>一旦パンダの動画を観て心を落ち着かせましょう</h3>
  <% @panda_youtube_date.items.each do |item| %>
  <% snippet = item.snippet %>
    <div class="card-group">
      <div class="card">
        <iframe src="https://www.youtube.com/embed/<%= item.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
          <div class="card-text">
            <h3><%= snippet.title %></h2>
          </div>
        </div>
      </div>
    </div>
  <% end %>
