/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';


body {
  font-family: "07あかずきんポップ" ;
  color: hsl(195, 100%, 99%);
  background: rgb(69, 16, 100);
  text-align: left;
}

a {
  color: #fffefe;
  text-decoration: none;
}

a:hover {
  color: rgb(86, 6, 97);
  text-decoration: none;
}

.section-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-title h3 {
  font-size: 30px;
}

.section-title h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
  color: #ffffff;
}

.topbtn {
  margin-top: 50px;
  margin-bottom: 50px;
}

.topbtn input.btn-malformation {
  background: hsl(315, 90%, 28%);
  font-size: 30px;
  border: 0;
  padding: 1rem 4rem;
  color: #fff;
  transition: 0.4s;
  border-radius: 30px;
}

.text-center {
  text-align: center;
}

.back-button:hover {
  background: #dd5a92;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vh;
}
