// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#kojirase-level-title {
  color: hsl(195, 100%, 99%);
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  margin-top: 3px;
  margin-bottom: 50px;
  font-size: 100px;
}


.kojirase-message {
  font-size: 30px;
  margin-top: 80px;
}

.prescription {
  margin-top: 80px;
}

.result-name {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.card-body {
  background-color: hsl(0, 0%, 0%);
}

.card-group {
  border: 30px solid #000000;
}

.youtube-videos {
  text-align: center;
}
