body {
  font-size: 2rem;
  font-family: 'HanziPen TC', sans-serif;
  background-color: #aabbc5;
  text-align: center;
  height: auto;
}

p {
  font-size: 2rem;
}

.sub-title {
  text-align: left;
}

.question {
  text-align: left;
  span {
    color: #a81434;
    font-weight: bold;
  }
  ul {
    list-style: none;
  }
};

.description {
  text-align: left;
}

.button {
  font-size: 3rem;
  font-family: 'HanziPen TC', sans-serif;
  background-color :#040506;
  color: white;
  border-radius: 15px;
}

.back-button {
  font-size: 2rem;
  font-family: 'HanziPen TC', sans-serif;
  background-color :#969697;
  color: white;
  border-radius: 9px;
}

.link-button {
  font-size: 2rem;
  font-family: 'HanziPen TC', sans-serif;
  background-color :#d0d0db;
  color: rgb(221, 217, 217)e;
}

.number-privacy {
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
}

.privacy-description {
  p {
    font-size: 1.1rem;
    text-align: left;
  }
  ul {
  list-style: none;
  font-size: 1.1rem;
  text-align: left;
  }
}
