body {
  font-size: 2rem;
  font-family: 'HanziPen TC', sans-serif;
  background-color: #aabbc5;
  text-align: center;
  height: auto;
}

p {
  font-size: 2rem;
}

button {
  font-size: 3rem;
  font-family: 'HanziPen TC', sans-serif;
  background-color :#040506;
  color: white;
  border-radius: 15px;
}
