body {
  font-size: 2rem;
  font-family: 'HanziPen TC', sans-serif;
  background-color: #aabbc5;
  text-align: center;
  height: auto;
}

p {
  font-size: 2rem;
}

.sub-title {
  text-align: left;
}

.question {
  text-align: left;
  span {
    color: #a81434;
    font-weight: bold;
  }
};

.description {
  text-align: left;
}

button {
  font-size: 3rem;
  font-family: 'HanziPen TC', sans-serif;
  background-color :#040506;
  color: white;
  border-radius: 15px;
}
